.best-selling-items {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.best-selling-items h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.best-selling-items h2 span {
  color: green;
}

.best-selling-items p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.items-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.item-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-card img {
  max-width: 100%;
  border-radius: 10px;
}

.item-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.rating {
  color: gold;
  margin-bottom: 10px;
}

.item-card p {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px;
  z-index: 1;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: #ffa500;
  color: #fff;
}
