.blog-section {
  padding: 2rem;
  background-color: #f8f8f8;
  text-align: center;
}

.blog-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.blog-section h2 span {
  color: #7bce61;
}

.blog-section p {
  font-size: 1rem;
}

.blog-section .blog-card.featured p {
  color: #ddd;
}

.blog-card.featured {
  background-color: white;
  border-radius: 8px;
  padding: 5rem 1.2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  background-image: url('https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg'); /* Update with the correct path */
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.blog-card h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.blog-card a {
  color: #ffa500;
  font-weight: bold;
  display: inline-block;
}

.bloglist .blog-card {
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


@media (768px < width) {
  .blog-card {
    text-align: justify;
  }

  .bloglist .blog-card{
     width: 42%;
  }

  .bloglist {
    display: flex;
    justify-content: space-around;
  }
}
