.content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  gap: 20px;
}

.image-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 20px;
}

.image-large {
  z-index: 1;
  width: 100%;
  min-width: 300px; /* Minimum width for large image */
}

.image-small {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 40%;
  min-width: 150px; /* Minimum width for small image */
  z-index: 2;
  border: 3px solid white; /* Optional: for better visibility */
  border-radius: 10px;
}

.content-container img {
  max-width: 100%;
}

.text-container {
  flex: 1;
  max-width: 100%;
  padding: 20px;
}

.text-container h1 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.text-container h1 span {
  color: green;
}

.text-container p {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.order-btn {
  background-color: #ffa500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.about-link {
  color: green;
  text-decoration: none;
  align-self: center;
}

/* Desktop adjustments */
@media (min-width: 768px) {
  .image-small {
    width: 50%;
    bottom: -5px;
    right: -5px;
  }

  .text-container h1 {
    font-size: 1.5rem;
  }

  .text-container p {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .content-container {
    flex-direction: row;
    gap: 0;
  }

  .image-container {
    margin-bottom: 0;
  }

  .image-large {
    width: 80%;
    min-width: 400px; /* Adjust minimum width for larger screens */
  }

  .image-small {
    width: 50%;
    bottom: -10px;
    right: -10px;
    min-width: 200px; /* Adjust minimum width for larger screens */
  }

  .text-container h1 {
    font-size: 2rem;
  }

  .text-container p {
    font-size: 1rem;
  }

  .buttons {
    flex-direction: row;
    gap: 10px;
  }

  .order-btn,
  .about-link {
    width: auto;
    text-align: left;
  }
}