.customer-choice {
  padding: 50px 20px;
  background-color: #f9f9f9;
  text-align: left;
}

.customer-choice-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 767px) {
  .customer-choice-content {
    display: block;
  }
}

.customer-choice-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 0 0;
}

.customer-choice h2 {
  font-size: 2.5rem;
}

.customer-choice h2 span {
  color: green;
}

.customer-choice p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.features-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media (min-width: 768px) {
  .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .feature-card:nth-child(1),
  .feature-card:nth-child(3) {
    margin-right: auto;
  }

  .feature-card:nth-child(2),
  .feature-card:nth-child(4) {
    margin-left: auto;
  }
}

.feature-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-card .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.feature-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem;
  color: #666;
}

.view-more-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-button:hover {
  background-color: darkorange;
}

@media (768px < width) {
  .customer-choice-text {
    justify-content: start;
  }
}
